.navigatot {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	background: #fff;
	overflow: hidden;
	z-index: 999;
	
	padding: 0 1.68em;
	margin: 0;

	box-shadow: $materialz1;

	.breakpoint-phone & {
		padding: 0 .7em;
	}

}

.logo-container {
	height: 32px;
	width: auto;
	display: inline-block;
	margin: 16px 0;

	img {
		height: 100%;
	} 
}

.navigatot-item {
	line-height: 64px;
	float: right;
	text-decoration: none;
	margin-left: 32px;
	font-size: 14px;
	color: $color1;
	display: none;

	.breakpoint-desktop & {
		display: block;
		font-size: 16px;
	}
}

.button-nav {
	display: block;
	// box-sizing: content-box;
	padding: 4px 16px;
	margin: 12px 0 12px 32px;
	line-height: 32px;
	background: $color1;
	color: #fff;
	border-radius: 5px;

	&:hover {
		background: darken($color1, 10%);
	}
}